html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 2rem;

  box-sizing: border-box;
}

#library {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem;
  height: fit-content;
  width: min-content;
  border: 1px solid black;
}

.book > * {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  width: fit-content;
  flex: 1;
}

.book > *:nth-child(2n) {
  background-color: lightgray;
}

.book-buttons {
  display: flex;
  flex-direction: row;
}

#addBook {
  display: flex;
  flex-direction: column;
}
